@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  /* --bgColor: #0a0a17; */
  --bgColor: #252a2e;
  /* --color1: #8758ff; */
  --color1: #0566d9;
  /* --color2: #1A1A40; */
  --color2: #1d2226;
  --txtColor: #fff;
  --warnColor: #8f0024;
}

body {
  background: var(--bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--txtColor);
  font-size: 1.75rem;
}

h4 {
  color: var(--txtColor);
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.App {
  text-align: center;
  background: var(--color2);
  margin: 5rem;
  padding: 3rem;
  border-radius: 5px;
}

.LandingPage,
.HostPage,
.GuestPage {
  background: var(--color2);
}

.host-join-btn {
  background: var(--color1);
  color: var(--txtColor);
  border: none;
  width: 100%;
  table-layout: fixed;
  border-radius: 5px;
  font-size: 20px;
  padding: 3rem;
  margin-right: 11.5rem;
  margin-top: 3rem;
  cursor: pointer;
}

.RoomForm {
  width: 100%;
  margin-top: 3rem;
}

.room-input,
.guest-input {
  outline: none;
  background: none;
  border: 1px solid var(--color1);
  border-radius: 5px 0px 0px 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--txtColor);
}

/*Removes stinky arrows in room form input field*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.room-form-btn,
.submit-btn {
  background: var(--color1);
  color: var(--txtColor);
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0px 5px 5px 0px;
  padding: 0.55rem;
  cursor: pointer;
}

#roomID {
  font-size: 3rem;
}

.UserHostView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color1);
  color: var(--txtColor);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.UserGuestView {
  display: flex;
  background: var(--color1);
  color: var(--txtColor);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.SelfGuestView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color1);
  color: var(--txtColor);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-pen-to-square,
.fa-trash {
  margin-left: 0.75rem;
  cursor: pointer
}

.displayName {
  cursor: pointer;
}

.delete-room-btn,
.leave-room-btn {
  background: var(--warnColor);
  color: var(--txtColor);
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#invalid-alert {
  color: var(--warnColor);
}

#website-info {
  color: var(--txtColor);
  margin-top: 3rem;
}

/*Old room form styling
.room-input {
  outline: none;
  background: none;
  border: 1px solid var(--color1);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: var(--txtColor);
}

.room-form-btn {
  background: var(--color1);
  color: var(--txtColor);
  border: none;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.55rem;
  cursor: pointer;
}*/
