@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bgColor: #000;
  --color1: #8758ff;
  --color2: #1A1A40;
  --txtColor: #fff;
  --warnColor: #8f0024;
}

body {
  background: var(--bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  background: var(--color2);
  margin: 5rem;
  padding: 3rem;
  border-radius: 5px;
}

#invalid-alert {
  color: var(--warnColor);
}

#website-info {
  color: var(--txtColor);
  margin-top: 3rem;
}

h1 {
  color: var(--txtColor);
  font-size: 1.75rem;
}

h4 {
  color: var(--txtColor);
  font-size: 1rem;
}

.LandingPage,
.HostPage,
.GuestPage {
  background: var(--color2);
}

.RoomForm {
  width: 100%;
  margin-top: 2rem;
}

.room-form-input {
  outline: none;
  background: none;
  border: 1px solid var(--color1);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: var(--txtColor);
}

.user-input {
  outline: none;
  background: none;
  border: 1px solid var(--color1);
  border-radius: 5px 0px 0px 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: var(--txtColor);
}

.user-input::placeholder {
  color: var(--color1);
}

.room-form-btn {
  background: var(--color1);
  color: var(--txtColor);
  border: none;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.55rem;
  cursor: pointer;
}

.submit-btn {
  background: var(--color1);
  color: var(--txtColor);
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0px 5px 5px 0px;
  padding: 0.55rem;
  cursor: pointer;
}

/*Removes stinky arrows in room form input field*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.host-join-btn {
  background: var(--color1);
  color: var(--txtColor);
  border: none;
  width: 100%;
  table-layout: fixed;
  border-radius: 5px;
  font-size: 20px;
  padding: 3rem;
  margin-right: 11.5rem;
  margin-top: 3rem;
  cursor: pointer;
}

.delete-room-btn {
  background: var(--warnColor);
  color: var(--txtColor);
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.leave-room-btn {
  background: var(--warnColor);
  color: var(--txtColor);
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.User {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color1);
  color: var(--txtColor);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.UserHostView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color1);
  color: var(--txtColor);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.UserGuestView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color1);
  color: var(--txtColor);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.SelfGuestView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color1);
  color: var(--txtColor);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 